.badge {
    background-color: cornflowerblue; 
    color: #fff;
}


.dropdown-extended ul li {
    background-color: #fff;
}

.dropdown-extended form {
    background-color: #fff;
}

.dropdown-extended .search-box {
    background-color: #fff;
}

button {
    background-color: #fff;
    color: #555;
}

.inputbox {
    border-bottom: 2px solid #eee;
    transition: linear 0.5s; -moz-transition: linear 0.5s; -webkit-transition: linear 0.5s;
}

.inputbox:hover {
    border-bottom: 2px solid cornflowerblue;
}

.inputbox:focus {
    border-bottom: 2px solid cornflowerblue;
}

textarea.inputbox {
    transition: linear 0.5s; -moz-transition: linear 0.5s; -webkit-transition: linear 0.5s;
    border: 2px solid #eee;
}

textarea.inputbox:hover {
    border: 2px solid cornflowerblue;
}

textarea.inputbox:focus {
    border: 2px solid cornflowerblue;
}

.dropdown-extended .footer {
    background-color: #fff;
}


tr:hover {
    background-color: #fafafa;
}

.pagination li {
    color: #fff;
}

.pagination li a:hover {
    color: #fff;
}

