<div id="notification_list" class="dropdown dropdown-extended notification_list">
	<div class="pointer">
		<div class="pointer-inner"></div>
	</div>
	<div class="dropdown-contents">
		<div class="header">
			Information
		</div>

		<ul>
			<li class="sidebar-button-wrap" data-skip-responsive="true">
				<a href="{U_MEMBERLIST}" role="menuitem" >
					<i class="icon fa-group fa-fw" aria-hidden="true"></i>
					<span>{L_MEMBERLIST}</span>
				</a>
			</li>

			<!-- IF U_TEAM -->
			<li class=" sidebar-button-wrap" data-skip-responsive="true">
				<a href="{U_TEAM}" role="menuitem">
					<i class="icon fa-shield fa-fw" aria-hidden="true"></i>
					<span>{L_THE_TEAM}</span>
				</a>
			</li>
			<!-- ENDIF -->

			<li class=" sidebar-button-wrap">
				<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" role="menuitem">
					<i class="icon fa-question-circle fa-fw" aria-hidden="true"></i>
					<span>{L_FAQ}</span>
				</a>
			</li>

			<li class=" sidebar-button-wrap">
				<a href="http://www.phpbb.com" rel="help" title="Copyright" role="menuitem">
					<i class="icon far fa-copyright fa-fw" aria-hidden="true"></i>
					<span>Powered by phpBB, designed by Rin</span>
				</a>
			</li>

		</ul>
	</div>
</div>