<div id="notification_list" class="dropdown dropdown-extended notification_list">
	<div class="pointer">
		<div class="pointer-inner"></div>
	</div>
	<div class="dropdown-contents">
		<div class="header">
			{L_MCP_SHORT}
		</div>

		<ul>
			<li>
				<a href="{U_MCP}" title="{L_MCP}">Moderator Control Panel</a>
			</li>
			<!-- BEGIN quickmod -->
			<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
			<li>
				<a href="{quickmod.LINK}" <!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"
					<!-- ENDIF -->>{quickmod.TITLE}</a>
			</li>
			<!-- END quickmod -->
		</ul>
	</div>
</div>